#TAIL WIND CSS (FOR WEBSITE COLOR PALETES) h1 {
  font-size: 42px;
  text-transform: uppercase;
  text-align: center;
  font-family: coiny, sans-serif;
  color: #5d5fde;
}

p {
  font-size: 20px;
  line-height: 1.4;
  font-family: sono;
}

.tag {
  text-transform: uppercase;
  font-size: 14px;
  font-family: coiny, sans-serif;
}

ul {
  list-style: none;
}

body {
  background-color: #292524;
}
